doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='styles/normalize.css')
    link(href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Manrope&display=swap", rel="stylesheet")
    link(rel='stylesheet', href='styles/styles.css')
    script(src="scripts/script.js")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    nav.main-nav
        a.logo(href="/")
          img(src='../images/bread.png')
        ul
          li 
            a(href="/") Home
          li 
            a(href="/admin") Admin  
    div.container
      header.header
          h1 #{title}
      main
        table
            tr
                th Question
                th Response
            each enquiry in enquiries
                tr
                    td.question Time-Stamp: 
                    td #{enquiry.time}
                tr
                    td.question Name: 
                    td #{enquiry.name}
                tr
                    td.question Email Address: 
                    td #{enquiry.email}
                tr
                    td.question Message: 
                    td #{enquiry.message}
                tr
                    td.question Newsletter Signup: 
                    td #{enquiry.newsLetterChoice}
                tr
                    td
                    td
        
    div.footer
      div.copyright ©Richard Herbert. 2020